  @font-face {
    font-family: Gilroy-Medium;
    src: url('../fonts/Gilroy-Medium.ttf');
  } 

  @font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Bold.ttf');
  } 

  @font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.ttf');
  } 

  @font-face {
    font-family: AbrilFatface-Regular;
    src: url('../fonts/AbrilFatface-Regular.ttf');
  } 
  
  * {
    font-family: Gilroy-Medium;
  }
  
  /* For the blog landing page */
  .banner-container {
    position: relative;
  }
  
  .featured-label {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 219px;
    height: 50px;
    background-color: #E45E5E;
    color: white;
    font-weight: bold;
    padding: 10px 43px;
    border-radius: 4px;
    font-family: AbrilFatface-Regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    opacity: 0.95;
  }
  
  .banner-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    opacity: 0.9;
  }

  .banner-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 830px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0 0;
  }
  
  .overlay-content {
    padding: 20px 40px;
  }
  
  .blog-category {
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .category-link {
    text-decoration: underline;
    color: #333;
    font-family: Gilroy-Medium;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
  }
  
  .blog-featured-topic {
    margin-top: 10px;
  }
  
  .blog-featured-topic h2 {
    margin: 0;
    text-align: left;
    font-family: AbrilFatface-Regular;
    font-size: 35px;
    font-weight: 400;
    line-height: 54px;
  }
  
  .read-now {
    margin-top: 10px;
  }
  
  .read-now-link {
    text-decoration: none;
    color: #E45E5E;
    font-weight: bold;
    font-family: AbrilFatface-Regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
  }


  /* For the blog menu bar */
  .blog-menu-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 50px 0;
  }
  
  .blog-menu-item {
    color: #333;
    text-decoration: none;
    font-family: AbrilFatface-Regular;
    font-size: 35px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 12px;
    border-radius: 4px;
    flex: 1 0 auto;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .blog-menu-item:hover {
    background-color: #ddd;
  }

  /* Style for active category */
  .blog-menu-item.active-category {
    color: #E45E5E;
    font-weight: bold;
  }

  .category-header-2 {
    color: #E45E5E;
    font-size: 80px;
    font-family: AbrilFatface-Regular;
    text-align: left;
    line-height: 108px;
    padding: 0 100px;
  }

  .category-posts {
      display: flex;
      flex-wrap: wrap;
      width: 90vw;
      min-width: 250px;
      margin: auto;
      align-items: center;
      justify-content: center;
  }

  .blog-post-preview {
      box-sizing: border-box;
      padding: 25px 30px;
  }

  /* For the blog post list by category */
  .blog-post-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .scroll-container {
    transition: left 0.8s ease;
  }
  
  .blog-post-list {
    display: flex;
    gap: 25px;
  }
  
  .scroll-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 100px;
  }
  
  .scroll-button:hover {
    color: #333;
  }

  /* For blog post list spacing */
  .blog-post-list-spacer {
    padding: 50px;
  }

  
  /* For category header */
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 100px;
  }

  .category-header h2 {
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
  }
  
  .view-more-link {
    color: #333;
    text-decoration: none;
    font-family: Gilroy-Bold;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
  }
  
  .view-more-link:hover {
    text-decoration: underline;
  }


  /* For blog post preview */
  .blog-post-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .thumbnail-container {
    width: 400px;
    height: 532px;
    max-width: 90vw;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blog-post-preview-spacer {
    padding: 20px;
  }
  
  .post-info {
    text-align: left;
    width: 400px;
    max-width: 90vw;
  }
  
  .blog-topic {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: AbrilFatface-Regular;
    padding: 5px 0;
  }
  
  .topic-link {
    text-decoration: none;
    color: #333;
    font-family: AbrilFatface-Regular;
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
  }
  
  .created-date {
    color: #666;
    font-family: Gilroy-Light;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
  
  /* For blog post content container */
  .blog-post-container {
    margin: auto;
    width: 60vw;
    min-width: 200px;
    padding: 50px;
  }

  .blog-post-header {
    text-align: left;
    font-family: AbrilFatface-Regular;
    font-size: 35px;
    font-weight: 400;
    line-height: 54px;
  }

  .blog-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .blog-post-content {
    text-align: justify;
    line-height: 200%;
    font-size: x-large;
  }

  .blog-post-spacer {
    padding: 10px;
  }

/* Styles for medium screens (e.g., tablets) */
@media only screen and (max-width: 1500px) {
  /* Adjust styles for medium screens */
  .blog-main {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .banner-img {
    height: 60vh;
  }
  .banner-overlay {
    width: 70%;
  }
  .category-header {
    padding: 0 40px;
  }
  .category-header h2 {
    font-size: 35px;
    line-height: 35px;
  }
  .view-more-link {
    font-size: 30px;
    line-height: 30px;
  }
  .thumbnail-container {
    width: 300px;
    height: 399px;
  }
  .post-info {
    width: 300px;
  }
  .category-header-2 {
    font-size: 45px;
    line-height: 45px;
    padding: 0 40px;
  }
  .category-posts {
      width: 100vw;
  }
  .blog-post-container {
    width: 90vw;
    min-width: 200px;
    padding: 50px;
  }
  .blog-post-header {
    font-size: 35px;
    line-height: 45px;
  }
  .blog-post-content {
    text-align: justify;
    line-height: 150%;
    font-size: x-large;
  }
}

/* Styles for small screens (e.g., mobile phones) */
@media only screen and (max-width: 450px) {
  /* Adjust styles for small screens */
  .blog-main {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .blog-menu-bar {
    gap: 0;
  }
  .blog-menu-item {
    flex-basis: 100vw;
    max-width: none;
    font-size: 25px;
    line-height: 25px;
  }
  .banner-img {
    height: 60vh;
  }
  .banner-overlay {
    width: 90%;
  }
  .blog-featured-topic h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .read-now-link {
    font-size: 15px;
    line-height: 15px;
  }
  .category-header {
    padding: 0 20px;
  }
  .category-header h2 {
    font-size: 30px;
    line-height: 30px;
    max-width: 100px;
  }
  .view-more-link {
    font-size: 20px;
    line-height: 20px;
  }
  .category-header-2 {
    font-size: 35px;
    line-height: 35px;
    padding: 0 20px;
  }
  .blog-post-container {
    width: 100vw;
    min-width: 200px;
    padding: 30px;
  }
  .blog-post-header {
    font-size: 25px;
    line-height: 35px;
  }
  .blog-post-content {
    text-align: justify;
    line-height: 150%;
    font-size: large;
  }
}