/* Prevent horizontal scrolling */
body {
  overflow-x: hidden;
}

/* Font declarations */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Header section */
.first_head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/landing1.png');
  background-position: center;
  background-size: cover;
  padding: 0 20px; /* Adjust padding to prevent overflow */
  box-sizing: border-box;
}

/* Hero content */
.hero-content-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 50px 20px; /* Adjust padding to prevent overflow */
  box-sizing: border-box;
}

.hero-text-new {
  flex: 1;
  padding: 80px 20px; /* Adjust padding to prevent overflow */
  box-sizing: border-box;
  font-size: larger;
  margin-top: -130px;
}

.hero-img-new {
  width: 80%;
  height: auto;
  padding: 0;
}

.typewriter-new {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family: 'Gilroy-Bold', sans-serif;
}

.feature-content-p-new {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'Gilroy-Medium', sans-serif;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .feature-content-p-new {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }

  .hero-text-new {
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .feature-content-p-new {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
  }

  .hero-text-new {
    padding: 30px 20px; /* Further adjust padding for even smaller screens */
  }
}

/* Summary section */
.summary {
  margin-top: -80px;
  background-color: #df646a;
  font-family: 'Gilroy-Medium', sans-serif;
}

.summary h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: Give You Glory, sans-serif;
  padding: 10px;
  margin: 70px;
  color: white;
}

/* Features section */
.features {
  margin-top: -70px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.features h2 {
  color: #df646a;
  text-align: left;
  padding: 60px;
  font-family: 'Gilroy-Medium', sans-serif;
}

/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 5px;
  margin-top: -90px;
  justify-content: center;
}

.grid-item {
  position: relative;
  text-align: center;
}

.circle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.content {
  padding: 10px;
  text-align: left;
  margin: 50px;
}

/* Summary text */
.summary-text {
  background-color: #df646a;
  padding: 50px;
  text-align: center;
}

.summary-text h1 {
  font-size: 3rem;
  color: white;
  font-family: 'Gilroy-Bold', sans-serif;
}

.summary-text h3 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Gilroy-Medium', sans-serif;
  margin: 20px auto;
  color: white;
}

/* Buttons */
.button-invite {
  padding: 20px 0;
}

.button-form {
  font-size: 1.5rem;
  padding: 10px 20px;
  font-family: Give You Glory, sans-serif;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .summary-text {
    padding: 30px;
  }

  .summary-text h1 {
    font-size: 2.5rem;
  }

  .summary-text h3 {
    font-size: 1.25rem;
  }

  .button-invite {
    padding: 10px 0;
  }

  .button-form {
    font-size: 1.25rem;
    padding: 8px 16px;
  }
}
