*{
  padding: 0;
  margin: 0;
}
*:before,*:after {
  padding: 0;
  margin: 0;}

.container-new {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500; /* Set the font weight */
}




.first_head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/landing_12.png');
  background-position: center; /* Position the background image at the center */
  background-size: cover; 
  
  
}

  
  .hero-content-new {
    display: flex;
    flex-direction: row; /* Ensure text is on the left and image is on the right */
    flex-wrap:wrap;
    align-items: center;
    width: 100%; /* Ensuring full width */
    max-width: 1400px; /* Increased maximum width */
    padding: 50px; /* Adding more padding to all sides */
    box-sizing: border-box; /* Including padding in width calculation */
     
  }
  
  .hero-text-new {
    flex: 1 1;
    padding: 12px 0px 12px 40px;
    box-sizing: border-box;
    font-size: larger;
    margin-left: 14px;
    
  }
  
  .hero-img-new {
    width: 80%; /* Increased width */
    height: auto; /* Maintain aspect ratio */
    padding: 0px;
    margin: -23px 0px 30px 30px;
  }
 
  
  .typewriter-new {
    font-size: 3.5rem; /* Increased font size */
    margin-bottom: 2rem; /* Increased margin */
    font-family:'Gilroy-Bold', sans-serif;
  }
  
  .feature-content-p-new {
    font-size: 2rem; /* Increased font size */
    margin-bottom: 1rem; /* Increased margin */
    margin-top: 2rem;
    font-family: 'Gilroy-Medium', sans-serif;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .feature-content-p-new {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
        margin-bottom: 0.5rem; /* Adjusted margin for smaller screens */
        margin-top: 1.5rem; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .feature-content-p-new {
        font-size: 1.2rem; /* Further adjusted font size for even smaller screens */
        margin-bottom: 0.3rem; /* Further adjusted margin for even smaller screens */
        margin-top: 1rem; /* Further adjusted margin for even smaller screens */
    }
}

  
.summary{
    
   margin-top: -80px; /* Add margin to top */
   background-color: #df646a;
   font-family:'Gilroy-Medium',  sans-serif;
  
   
}
.custom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 32px;
}
.summary h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: Give You Glory, sans-serif;
  padding: 10px;
  margin: 70px 12px 70px 12px;
  color: white;
}
.features {
    margin-top:-70px;
    font-family:'Gilroy-Bold',  sans-serif;

}
.features h2 {
  color: #df646a;
  text-align: left;
  padding: 0px;
  margin: 120px 0px 80px 32px;
  font-family: 'Gilroy-Medium', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  grid-gap: 20px;
  padding: 5px;
  margin-top: -90px;
  justify-content: center; /* Center the grid items horizontally */
}


.grid-item {
  position: relative;
  text-align: center; /* Center the content horizontally */
}

.circle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.content {
  padding: 10px;
  text-align: left;
  margin: 10px 0px 0px 20px;
}

@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; /* Switch to single column layout on smaller screens */
  }
}

.summary-text {
  background-color: #df646a;
  padding: 50px; /* Add padding to all sides */
  text-align: center; /* Center text */
}

.summary-text h1 {
  font-size: 3rem; /* Adjusted font size */
  color: white;
  font-family:'Gilroy-Bold',  sans-serif;
}

.summary-text h3 {
  font-size: 1.5rem; /* Adjusted font size */
  font-weight: 400;
  font-family:'Gilroy-Medium',  sans-serif;
  margin: 20px auto; /* Adjusted margin */
  
  color: white;
}

.button-invite {
  padding: 20px 0; /* Adjusted padding */
}

.button-form {
  font-size: 1.5rem; /* Adjusted font size */
  padding: 10px 20px; /* Adjusted padding */
  font-family:Give You Glory,  sans-serif;
}
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .summary-text {
      padding: 30px; /* Adjusted padding */
  }

  .summary-text h1 {
      font-size: 2.5rem; /* Adjusted font size */
  }

  .summary-text h3 {
      font-size: 1.25rem; /* Adjusted font size */
  }

  .button-invite {
      padding: 10px 0; /* Adjusted padding */
  }

  .button-form {
      font-size: 1.25rem; /* Adjusted font size */
      padding: 8px 16px; /* Adjusted padding */
  }
}
