.navbar {
  background-color: #ca4a51;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: auto;
}

.logo-text {
  font-size: 24px;
  margin-left: 10px;
  color: aliceblue;
}

.hamburger {
  cursor: pointer;
  padding: 10px;
  background-color: #fde9ea;
  display: none; /* Hide hamburger by default */
  
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(194, 98, 98);
  margin: 4px 0;
  transition: 0.4s;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  align-items: center;
}



.nav-list.open li {
  margin: 10px 0;
  text-align: center;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: rgb(255, 246, 246);
  transition: color 0.3s ease-in-out;
  font-family: 'Gilroy-Medium';
  font-weight: bolder;
  letter-spacing: 1px;
}

a:hover {
  color: #7c0c24;
}

.join-button-container {
  margin-right: 20px;
}

.join-button {
  padding: 10px 20px;
  background-color: #fbfbfb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Media query for small screen devices */
@media only screen and (max-width: 767px) {
  .hamburger {
    display: block; /* Show hamburger on small screens */
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
  }

  .join-button-container {
    display: none; /* Hide join button on small screens */
  }

  .nav-list {
    display: none; /* Hide by default */
  }
  
  .nav-list.open {
    display: flex; /* Show when hamburger is clicked */
    flex-direction: column;
    position: absolute;
    top: 100%; /* Position the menu below the navbar */
    left: 0;
    width: 100%;
    background-color: #a43b55;
    z-index: 1;
  }
  
}
